@use '@/variables' as var;

.accordion {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 24px auto;
  background-color: var.$card-bg !important;
  border-radius: 12px !important;
  box-shadow: 0 4px 12px var.$shadow-light !important;

  ul {
    list-style: none;
    padding-left: 8px;
    font-size: 12px;
    margin: 0;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;

      h6 {
        font-size: 12px;
        margin: 4px 0;
      }
    }
  }
}
