@use '@/variables' as var;

.container {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character {
  max-width: 200px;
  max-height: 200px;
  
  // 点から広がって、3秒後に点に戻るアニメーション
  opacity: 0;
  transform: scale(0);
  animation: expandAndShrink 3s ease-out forwards;
}

@keyframes expandAndShrink {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  16.67% {
    opacity: 1;
    transform: scale(1);
  }
  83.33% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}