@use '@/variables' as var;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.touch {
  font-size: 32px;
  font-weight: bold;
  color: var.$white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  letter-spacing: 8px;
}
