@use '@/variables' as var;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.img {
  width: 100%;
}

.buttonContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: none;
  background-color: var.$red;
  color: var.$white;
  font-size: 32px;
  box-shadow: 2px 2px 2px var.$black;
}
