@use '@/variables' as var;

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.inputArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var.$card-bg;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 12px var.$shadow-light;
}

.button {
  padding: 16px 32px;
  background: linear-gradient(135deg, var.$primary 0%, var.$secondary 100%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 8px var.$shadow-light;
  
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px var.$shadow-medium;
  }
  
  &:active {
    transform: translateY(0);
  }
}

.resultContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.resultArea {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.resultBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var.$card-bg;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px var.$shadow-light;
  font-size: 16px;
}

.evolution {
  color: var.$blue;
  font-size: 14px;
}

.devolution {
  color: var.$red;
  font-size: 14px;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.checkbox {
  padding: 4px;
}

.comboboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.evolutionStepRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
